name: 10 - Controlling the Execution Flow
on:
  workflow_dispatch:
    inputs:
      fail-unit-tests:
        description: 'Fail unit tests'
        type: boolean
        required: true
        default: false
      continue-on-test-errors:
        description: 'Continue on test errors'
        type: boolean
        required: true
        default: false
jobs:
  lint-build:
    name: Lint Build
    runs-on: ubuntu-latest
    steps:
      - name: Lint and Build
        run: echo "Linting and building the project"
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Running Unit Tests
        run: echo "Running unit tests"
      - name: Fail Unit Tests
        if: ${{ inputs.fail-unit-tests }}
        continue-on-error: ${{ inputs.continue-on-test-errors }}
        run: exit 1
  deploy-staging:
    name: Deploy to Staging
    runs-on: ubuntu-latest
    needs:
      - lint-build
      - unit-tests
    steps:
      - name: Deploying to Staging
        run: echo "Deploying to staging environment"
  e2e-tests:
    name: E2E Tests
    runs-on: ubuntu-latest
    needs: deploy-staging
    steps:
      - name: Running E2E Tests
        run: echo "Running end-to-end tests"
  load-tests:
    name: Load Tests
    runs-on: ubuntu-latest
    needs: deploy-staging
    steps:
      - name: Running Load Tests
        run: echo "Running load tests"
  deploy-production:
    name: Deploy to Production
    runs-on: ubuntu-latest
    needs:
      - e2e-tests
      - load-tests
    steps:
      - name: Deploying to Production
        run: echo "Deploying to production environment"