name: 15 - Matrices
on:
  workflow_dispatch:
jobs:
  backwards-compatibility:
    name: ${{ matrix.os }}-${{ matrix.node-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x, 24.x]
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - name: Set Up NodeJs
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Run Tests
        run: echo "Running tests on NodeJs ${{ matrix.node-version }} and ${{ matrix.os }} as OS"
