name: 16 - Working with Environments
run-name: 16 - Working with Environments (${{ inputs.environment }})
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        type: environment
        required: true
        default: 'staging'
jobs:
  echo:
    name: Echo Environment
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Echo Variable
        env:
          ENVIRONMENT_DEPENDENT_VAR: ${{ vars.ENVIRONMENT_DEPENDENT_VAR || 'default' }}
        run: echo "The value of ENVIRONMENT_DEPENDENT_VAR is $ENVIRONMENT_DEPENDENT_VAR"
