name: 17 - 2 - Custom Actions - JavaScript
run-name: 17 - 2 - Custom Actions - JavaScript
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment Environment'
        type: environment
        required: true
        default: 'staging'
jobs:
  update-dependencies:
    name: Update NPM Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Check for Dependency Updates
        uses: ./.github/actions/js-dependency-update