name: 17 - 2 - Custom Actions - JavaScript
run-name: 17 - 2 - Custom Actions - JavaScript - ${{ inputs.base-branch }} -> ${{ inputs.target-branch }}
on:
  workflow_dispatch:
    inputs:
      base-branch:
        description: 'The base branch to compare against.'
        required: false
        default: 'main'
      target-branch:
        description: 'The branch to create the dependency update PR.'
        required: false
        default: 'dependency-updates'
      debug:
        description: 'Enable debug logging.'
        type: boolean
        required: false
        default: false
jobs:
  update-dependencies:
    name: Update NPM Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Install Action Dependencies
        uses: ./.github/actions/composite-cache-deps
        with:
          node-version: '20.x'
          working-directory: './.github/actions/js-dependency-update'
      - name: Check for Dependency Updates
        uses: ./.github/actions/js-dependency-update
        with:
          working-directory: './17-custom-actions'
          github-token: ${{ secrets.GITHUB_TOKEN }}