name: 18 - 3 - Reusable Workflows - Reusable Local Workflow
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Deployment Environment'
        type: environment
        required: true
        default: 'staging'
jobs:
  deploy:
    name: Build and Deploy Angular Application
    uses: ./.github/workflows/18-1-reusable-workflows.yaml
    with:
      target-directory: 'angular-base-application'
  post-deploy:
    name: Post Deployment Actions
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Show Deployment Results
        run: |
          echo "Build Status: ${{ needs.deploy.outputs.build-status }}"
          echo "Website URL: ${{ needs.deploy.outputs.website-url }}"
  e2e-tests:
    name: End-to-End Tests
    needs: deploy
    uses: ahincho/github-actions-course-example-e2e/.github/workflows/e2e.yaml@main
    secrets:
      access-token: ${{ secrets.GH_TOKEN }}
